#define IDV_VERSION 1

200 ICON DISCARDABLE "res/lime.ico"
300 BITMAP DISCARDABLE "leds/b0.bmp"
310 BITMAP DISCARDABLE "leds/b1.bmp"
400 BITMAP DISCARDABLE "leds/g0.bmp"
410 BITMAP DISCARDABLE "leds/g1.bmp"
500 BITMAP DISCARDABLE "leds/r0.bmp"
510 BITMAP DISCARDABLE "leds/r1.bmp"
1001 ICON DISCARDABLE "days/01.ico"
1002 ICON DISCARDABLE "days/02.ico"
1003 ICON DISCARDABLE "days/03.ico"
1004 ICON DISCARDABLE "days/04.ico"
1005 ICON DISCARDABLE "days/05.ico"
1006 ICON DISCARDABLE "days/06.ico"
1007 ICON DISCARDABLE "days/07.ico"
1008 ICON DISCARDABLE "days/08.ico"
1009 ICON DISCARDABLE "days/09.ico"
1010 ICON DISCARDABLE "days/10.ico"
1011 ICON DISCARDABLE "days/11.ico"
1012 ICON DISCARDABLE "days/12.ico"
1013 ICON DISCARDABLE "days/13.ico"
1014 ICON DISCARDABLE "days/14.ico"
1015 ICON DISCARDABLE "days/15.ico"
1016 ICON DISCARDABLE "days/16.ico"
1017 ICON DISCARDABLE "days/17.ico"
1018 ICON DISCARDABLE "days/18.ico"
1019 ICON DISCARDABLE "days/19.ico"
1020 ICON DISCARDABLE "days/20.ico"
1021 ICON DISCARDABLE "days/21.ico"
1022 ICON DISCARDABLE "days/22.ico"
1023 ICON DISCARDABLE "days/23.ico"
1024 ICON DISCARDABLE "days/24.ico"
1025 ICON DISCARDABLE "days/25.ico"
1026 ICON DISCARDABLE "days/26.ico"
1027 ICON DISCARDABLE "days/27.ico"
1028 ICON DISCARDABLE "days/28.ico"
1029 ICON DISCARDABLE "days/29.ico"
1030 ICON DISCARDABLE "days/30.ico"
1031 ICON DISCARDABLE "days/31.ico"


IDV_VERSION VERSIONINFO
FILEVERSION 1,0,0,2019
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName", "Linux Rocks Inc.\0"
			VALUE "FileVersion", "1.0.0.2019\0"
			VALUE "FileDescription", "Binary Clock\0"
			VALUE "InternalName", "Win32 Binary Clock\0"
			VALUE "LegalCopyright", "Copyright © Walid Mahfoudh 2004\0"
			VALUE "OriginalFilename", "zigomar.exe\0"
			VALUE "ProductName", "Binary Clock\0"
			VALUE "ProductVersion", "1.0.0.0\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation",0x0409, 0x04e4
	END
END
